@{
    ViewBag.Title = "Upload";
}

<h2>Upload Receipt</h2>

<p>
    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="receipt" />
        <input type="submit" value="Upload" />
    }
</p>

<ul style="list-style-type:none;padding:0;">
    @foreach (var item in Model)
    {
        <li>
            <img src="@item" alt="image here" width="100" height="100" />
            <a id="@item" href="#" onclick="deleteImage('@item');">Delete</a>
        </li>
    }
</ul>


<script>
    function deleteImage(item) {
        var url = "/Home/DeleteReceipt";
        $.post(url, { Name: item }, function (data) {
            window.location.href = "/Home/Upload";
        })
    }
</script>

